Arbeitsfläche
bin
git
opt
tarent
Öffentlich
.ICEauthority
.Skype
.VirtualBox
# .Xmodmap
.adobe
.android
.apport-ignore.xml
.avidemux
.bash_history
.bash_logout
# .bashrc
.bogofilter
.cache
.citrix
.config
.cxoffice
.dbus
.dbvis
.dmrc
.dropbox-dist
.dropbox
.dvdcss
.eclipse
.eteks
.face
.filezilla
.fontconfig
.fonts
.forge
.gconf
.gegl-0.0
.gimp-2.6
.gitconfig
.gksu.lock
.gnome2
.gnupg
.grsync
.gstreamer-0.10
.gtk-bookmarks
.h2.server.properties
.histfile
.icedtea
.install4j
.java
.jboss-cli-history
.kde
.launchpadlib
.links2
.local
.m2
.mc
.menu
.mime.types
.mission-control
.mozilla
.nano_history
.nv
.nvidia-settings-rc
.org.eclipse.epp.usagedata.recording.userId
.ows.log
.pam_environment
.pgadmin3
.pki
.printer-groups.xml
.profile
.pulse-cookie
.pulse
.rednotebook
.remmina
.scala_history
.selected_editor
.signon
.ssh
.steam
.steampath
.steampid
.subversion
.swt
.thumbnails
.translate_toolkit
.visualvm
.xsession-errors
.zcompdump
.zdirs
.zenmap
.zsh_history
"Arbeitsfl\303\244che"
Bilder
Calibre Bibliothek
Dokumente
Downloads
Dropbox
E-Books
My Kindle Content
Studium
Temp
VirtualBox VMs
Vorlagen
Workspaces
"\303\226ffentlich"
.gvfs
