[user]
    name = Thomas Krille
[include]
    path = .gitconfig.d/userdetails
[alias]
    rb = rebase
    fa = fetch --all
    fu = fetch upstream
    fo = fetch origin
    st = status -s -b
    ci = commit
    br = branch -av
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    cp = cherry-pick
    who = shortlog -s --
    k = !gitk
    alias = "!sh -c '[ $# = 2 ] && git config --global alias.\"$1\" \"$2\" && exit 0 || echo \"usage: git alias <new alias> <original command>\" >&2 && exit 1' -"
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    loggraph = log --graph --decorate --pretty=oneline --abbrev-commit
    ls = log --decorate --pretty=oneline --abbrev-commit
    prune-all-remotes = !git remote | grep -iv 'upstream' | xargs git remote prune
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitexcludes
[branch]
    autosetuprebase = always
[push]
    default = current
[merge]
    tool = meld
